apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: ride4Low/api:latest
          ports:
            - containerPort: 8081
          env:
            - name: HTTP_ADDR
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: HTTP_ADDR
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_ENV
            - name: TRIP_SERVICE_ADDR
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: TRIP_SERVICE_ADDR
            - name: STRIPE_WEBHOOK_KEY
              valueFrom:
                secretKeyRef:
                  name: stripe-secrets
                  key: stripe-webhook-key
            - name: RABBITMQ_URI
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: uri
            - name: JAEGER_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: JAEGER_ENDPOINT
            - name: EVM_PAYEE
              valueFrom:
                secretKeyRef:
                  name: crypto-secrets
                  key: evm-payee
            - name: FACILITATOR_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: FACILITATOR_ENDPOINT
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
