apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.46
          ports:
            # - containerPort: 6831
            #   protocol: UDP
            # - containerPort: 6832
            #   protocol: UDP
            # - containerPort: 5778
            #   protocol: TCP
            - containerPort: 16686
              protocol: TCP
            - containerPort: 4318
              protocol: TCP
            - containerPort: 4317
              protocol: TCP
            # - containerPort: 14269
            #   protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
spec:
  selector:
    app: jaeger
  ports:
    - name: ui
      protocol: TCP
      port: 16686
      targetPort: 16686
    - name: otl-http
      protocol: TCP
      port: 4318
      targetPort: 4318
    - name: otlp-grpc
      protocol: TCP
      port: 4317
      targetPort: 4317
